.button-group, .play-area {
    border: 1px solid grey;
    padding: 1em 1%;
    margin-bottom: 1em;
  }
  
  .button {
    padding: 0.5em;
    margin-right: 1em;
  }

  .snap{
    text-align: center;
    width: fit-content;
  }
  
  .play-area-sub {
    text-align: center;
  }
  .ascii{
      font-size: 3px;
      font-family: monospace;
  }
  
  #capture {
    display: none;
  }
